:root {
    --fondo-principal: #fae1dd;
    --contenedor: #f0d2b2;
    --texto-principal: #7d4f50;
    --boton: #a56c79;
    --boton-hover: #8c4f5e;
    --fuente: 'Poppins', sans-serif;
}

header {
    background-color: var(--contenedor);
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid var(--boton);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: var(--texto-principal);
}

/* Navegación */
nav {
    display: flex;
    justify-content: center;
    background-color: var(--contenedor);
    padding: 10px 0;
}

nav a {
    color: var(--texto-principal);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: var(--boton-hover);
}


body {
    font-family: 'Arial', sans-serif;
    background: #fae3e3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*Hace que se vea en medio*/
.contenedor-comun{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 40px 20px;
}

.formulario{
    background: #f7d4bc;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

/*Separacion entre lineas*/
.grupo-formulario {
    margin-bottom: 5px;
}

/*Estilo de las cajas de ingreso de datos*/
.grupo-formulario input{
    width: 100%;
    padding: 5px;
    border: 2px solid #999999;
    border-radius: 5px;
    font-size: 12px;
}

/*Focus para cuando uno tenga el puntero encima o clickee derechamente*/
.grupo-formulario input:focus {
    outline: none;
    border-color: #c98bb9;
}

.btn_register{
    width: 100%;
    padding: 15px;
    background: #9c6a86;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}


